* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
html {
	font-size: 14px;
	font-family: Montserrat-Regular;
}
body {
	background-color: #F5F5F5;
}
header {
	width: 15%;
	float: left;
	margin-right: 10%;
}
	header a img {
		width: 170px;
		height: 55px;
		margin-top: 10px;
		margin-left: 10px;
	}
.botonera {
	width: 100%;
}
	.botonera > ul {
		list-style-type: none;
		position: relative;
		width: 100%;
	}
	.botonera a {
		color: rgb(4,149,19);
		width: 15%;
		height: 75px;
		display: block;
		float: left;
		line-height: 75px;
		text-align: center;
		text-decoration: none;
	}
	.sub-menu {
		display: none;
		list-style-type: none;
		width: 100%;
	}
	.desplegar:hover a {
		color: #fff;
		background-color: rgb(4,149,19);
	}
	.desplegar:hover .sub-menu {
		display: block;
		position: absolute;
		top: 75px;
	}
	.desplegar:hover > .sub-menu a:hover {
		background-color: #044D95;
	}
	.botonera .sub-menu li {
		display: table-cell;
		float: left;
		left: 0;
		right: 0;
	}
	.botonera .sub-menu a {
		width: 100%;
	}
	.botonera .sb1 li {
		width: 50%;
	}
	.botonera .sb2 li {
		width: 50%;
	}
	.botonera .sb3 li {
		width: 33.33%;
	}
	.botonera .sb4 li {
		width: 50%;
	}
	.botonera .sb5 li {
		width: 25%;
	}