* {
	margin:0;
	padding: 0;
	font-family: Montserrat;
	font-size: 14px;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}
.menu {
	margin-top: 10px;
}
.menu ul {
	width: 1085px;
	margin: auto;
}
.menu > ul > li {
	line-height: 70px;
	list-style-type: none;
	float: left;
	width: 155px;
	height: 70px;
	display: block;
}
.menu > ul > li:hover {
	font-weight: 600;
}
.menu ul li a {
	text-decoration: none;
	color: rgb(25,35,75);
}
li.logo {
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	width: 70px;
}
.menu > ul > li:nth-child(1){
	text-align: center;
}
.menu > ul > li:nth-child(2), .menu > ul > li:nth-child(3) {
	text-align: right;
}
.menu > ul > li:nth-child(5), .menu > ul > li:nth-child(6), .menu > ul > li:nth-child(7) {
	text-align: left;
}
.subMenu {
	display: none;
}
.subMenu > li {
	list-style-type: none;
	color: rgba(25,35,75);
	width: 155px;
	/*right: 45px;*/
}
.subMenu > li:last-child {
	border-radius: 0 0 4px 4px;
}
.subMenu > li:hover {
	color: #fff;
	background-color: rgb(25,35,75);
}
.subMenu > li:hover a {
	color: #fff;
	background-color: rgb(25,35,75);
}
li.institucional .subMenu li {
	text-align: right;
	line-height: 70px;
	height: 70px;
	padding-right: 5px;
}
li.academica .subMenu li {
	text-align: right;
	line-height: 70px;
	height: 70px;
	padding-right: 5px;
}
li.academica .subMenu li:nth-child(1), li.academica .subMenu li:nth-child(2){
	line-height: 35px;
}
li.investigacion .subMenu li, li.alumnos .subMenu li, li.docentes .subMenu li {
	text-align: left;
	height: 70px;
	padding-left: 5px;
}
li.investigacion .subMenu li:nth-child(1) {
	line-height: 17px;
	padding-top: 0.5px;
}
li.investigacion .subMenu li:nth-child(2) {
	line-height: 23.3px;
}
li.investigacion .subMenu li:nth-child(3) {
	line-height: 35px;
}
li.alumnos .subMenu li {
	line-height: 70px;
}
li.alumnos .subMenu li:last-child, li.docentes .subMenu li:last-child {
	line-height: 35px;
}
.menu .institucional:hover > .subMenu, .menu .academica:hover > .subMenu, .menu .investigacion:hover > .subMenu,.menu .alumnos:hover > .subMenu, .menu .docentes:hover > .subMenu {
	font-weight: 400;
	display: block;
}
