* {
	margin:0;
	padding: 0;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}
.menu {
	margin-top: 10px;
}
.menu ul {
	width: 1085px;
	margin: auto;
}
.menu ul li {
	text-align: center;
	line-height: 70px;
	list-style-type: none;
	float: left;
	width: 155px;
	height: 70px;
	display: block;
}
.menu ul li a {
	font-family: Montserrat;
	text-decoration: none;
	color: rgb(25,35,75);
}
li.logo {
	background-position: center;
	background-repeat: no-repeat;
	width: 70px;
}