
section.carreras{
	background-color:rgb(242,242,242);
	clear: both;
}
section.carreras h1 {
	font-size: 48px;
	font-weight: 200;
	text-align: center;
	letter-spacing: 3px;
	color: rgb(25,35,75);
	width:100%;
	padding-top: 75px;
}
span.linea	{
	margin-top:5px;
	margin-bottom: 75px;
	margin-left:47.5%;
	margin-right:47.5% ;
	float: left;
	width: 5%;
	height: 0px;
	border:2px solid rgba(25,35,75,0.7);
}

.accordion-container {
    width: 60%;
    margin: 0 0 5% 2.5%;
    float: left;
    clear:both;
}

.carrera-nombre {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    background: rgb(242,242,242);
    color: rgb(151,118,20);
    text-decoration: none;
}
.carrera-nombre.open {
    background: rgb(25,35,75);
    color: #fff;
}
.carrera-nombre:hover {
    background: rgba(25,35,75,0.5);
    color:#000;

}

.carrera-nombre span.toggle-icon:before {
    content:"+";
}

.carrera-nombre.open span.toggle-icon:before {
    content:"-";
}

.carrera-nombre span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight:bold;
}

.carrera-contenido {
    display: none;
    padding: 20px;
    overflow: auto;
}

.carrera-contenido img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 200px;
    height: 200px;
}
.carrera-contenido h2{
	font-size: 18px;
	color: rgb(151,118,20);
	margin-bottom: 0.5%;
}
.carrera-contenido h2.ciclo-complementario{
	font-size: 20px;
	color: rgb(25,35,75);
}
.carrera-contenido h2:nth-of-type(2), .carrera-contenido h2:nth-of-type(3){
	margin-top: 1%;
}
.carrera-contenido p{
    font-size: 14px;
    text-align: justify;
    line-height: 18px;
}
.carrera-contenido p.mas {
    width: 100%;
    text-align: right;
    margin-top: 2%;

}
.carrera-contenido p a {
	font-size: 14px;
	text-decoration: none;
    color:rgb(151,118,20);
}

.carrera-contenido p a:hover {
    font-weight: 600;
}
.item {
	font-weight: 600;
	color: rgb(151,118,20);
}

.ingreso{
	width: 27%;
	height: 100px;
    margin: 0 2.5% 5% 2.5%;
    float: right;
    border: black 2px solid;
}

.ir-arriba {
    display: none;
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url(../img/flecha-top.png);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    z-index: 1000;
    transform: 700;
}

.ir-arriba {
    z-index: 9999 !important;
}

.ir-arriba:hover { 
	opacity: 1;
}

@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}