* {
	margin:0;
	padding: 0;
	font-family: Montserrat;
	font-size: 14px;
	box-sizing: content-box;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}

/*Navegación*/

nav.menu {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 1040px;
}
nav.menu ul {
	width: 100%;
}
nav.menu ul li {
	line-height: 70px;
	width: 155px;
	height: 70px;
	float: left;
	z-index: 9999999999999999999999999999;
}
nav.menu ul li:hover {
	font-weight: 600;
}
nav.menu ul li.logo {
	width: 70px;
}
.menu li {
	list-style-type: none;
}
.menu a {
	text-decoration: none;
	color:rgb(25,35,75);
}
nav.menu ul li.unsj {
	text-align: right;
	width: 40px;
	margin-left: 115px;
}
nav.menu ul li.institucional {
	width: 115px;
	margin-left: 40px;
}
nav.menu ul li.academica {
	width: 95px;
	margin-left: 40px;
	margin-right: 20px;
}
.institucional:hover > ul.subMenu, .academica:hover > ul.subMenu, .investigacion:hover > ul.subMenu, .alumnos:hover > ul.subMenu, .docentes:hover > ul.subMenu {
	display: block;
}
.academica > ul.subMenu > a li{
	width: 250px;
	position: relative;
	z-index: 9999999999999999999999999999;
}
nav.menu ul li.logo {
	text-align: center;
	width: 110px;
}
li.investigacion, li.alumnos, li.docentes {
	text-align: left;
}
nav.menu ul li.investigacion {
	width: 115px;
	margin-left: 20px;
	margin-right: 20px;
}
nav.menu ul li.alumnos {
	width: 75px;
	margin-left: 20px;
	margin-right: 40px;
}
nav.menu ul li.docentes {
	width: 80px;
	margin-right: 80px;
}
.investigacion > ul.subMenu > a li{
	width: 325px;
	position: relative;
}
.alumnos > ul.subMenu > a li, .docentes > ul.subMenu > a li{
	width: 200px;
	position: relative;
}
.subMenu {
	display: none;
}
.subMenu a {
	color: rgb(25,35,75);
}
.subMenu a:hover {
	color: #fff;
	font-weight: normal;
}
.subMenu a li {
	background-color: #fff;
	padding-right: 5px;
	padding-left: 5px;
}
.subMenu a li:hover {
	background-color: rgb(25,35,75);
}
.subMenu a li.borderRadius {
	border-radius: 0 0 5px 5px;
}


/*Footer*/

footer {
	background-color: rgba(25,35,75,1);
	height: 200px;
}
footer p {
	text-align: center;
	color: #fff;
	margin-left: 10%;
	width: 80%;
}
p.primero {
	padding-top: 10px;
}